@media screen and (max-width: 540px) {
    .predictions-tips h4{
     font-size:15px;
     text-transform: uppercase;
    }
    .predictions-tips p{
        font-size:13px;
        text-transform: uppercase;
       }

       .tab-content .list-group{
           background:green;
           width:100%;
       }

       .tab-content2{
           width:100%;
           position:relative;
           margin-left:50px;
       }
  }
  .fa{
      color:rgb(2, 181, 2);
  }
  table{
      border:1px dotted #008080;
  }
 .high-c{
     background:rgb(2, 189, 2);
     width:200px;
     color:#fff;
     border-radius: 10px;
 }
.high-c p{
    font-size: 10px;
    top:30px;
    color:#fff;
     
 }
 .probs p{
     padding:10px;
     margin-left:20px;
 }
 .probs p:first-child{
     background:rgb(5, 181, 5);
     width:180px;
     text-align: center;
     color:#fff;
     border-radius: 6px;
     
 }
 .probs p:last-child{
    background:red;
    width:180px;
    text-align: center;
    color:#fff;
    border-radius: 6px;
    
 }
 .score-tab p{
     text-align: center;
     
     font-size:50px;
     color:#fff;
    word-spacing: 10px;
 }

 .teamA{
     display:inline flex;
 }

 .table-borderless{
     border:none;
     outline:none;
     background:red;
 }
 table img{
     width:50px;
 }
 .live-fixtures{
   background:rgb(39, 38, 38);  
   height:60px;
   color:#fff;
   padding:15px;
   border-radius: 5px;
 }
 .League{
     padding:10px;
 }
 .headers{
     text-align: center;
     padding:10px;
 }
 
 .wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
  	height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}
.teamA-logo{
    width:150px;
}

.match-team{
    position:relative;
    left:8%;
    padding:30px;
    background:#008080;
    width:80%;
    border-radius: 10px;
   box-shadow: 1px 1px 3px;
   color:#fff;
}
.match-score{
    position:relative;
    padding:5px 0px 0px 5px;
    margin-left:40px;
    background:#000;
    color:#fff;
    left:-20px;
    
}
.team-b{
    position:relative;
    left:20px;
}
.location{
    position:relative;
    left:52px;
    font-variant: small-caps;
    font-weight:900;
}
.nav-pills{
    grid-template-columns:1fr 1fr 1fr 1fr;
   width:100%;
    overflow: scroll;
    display:grid;
    align-items: center;
    background:rgb(28, 28, 28);
    margin-left:-200px;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .table {
   
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
  display:grid;
  align-items: center;

}

.nav-pills{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    display:grid;
    align-items: center;

   
}

}
@media only screen
and (max-device-width : 460px)
and (min-device-width : 824px) {
    .location{
        position:relative;
        left:-60px;
        font-variant: small-caps;
        font-weight:900;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .location{
        position:relative;
        left:60px;
        font-variant: small-caps;
        font-weight:900;
    }
    .table tr{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
    display:grid;
    align-items: center;
    display:none;
    
    }
    .nav-pills{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow-x: scroll;
        align-items: center;
        justify-content: center;
        display:grid;
        align-items: center;
        
    }
   .container .stadium-name{
        display: none;
        
    }
}
@media only screen
and (min-width : 1224px) {
.nav-pills{
  
    overflow:hidden;
}
    .location{
        position:relative;
        left:90px;
        font-variant: small-caps;
        font-weight:900;
    }
}